    <ul class="navbar">
      <% for (list of lists) { %>
        <li class="nav-item"><a href="/lists/<%= list.name %>"><%= list.name %></a></li>
        <% } %>
        <li class="nav-item">
            <form action="/" method="post">
              <input class="input-small" type="text" name="newList" placeholder="Name your new list!" autocomplete="off">
              <button class="small-plus" type="submit" name="list">+</button>
            </form>
          </li>
    </ul>
